vim/.vim/tempfiles/swap/*
vim/.vim/tempfiles/backup/*
vim/.vim/tempfiles/undo/*
vim/.vim/plugged/*
vim/.vim/.netrwhist
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/eshell/
emacs/.emacs.d/network-security.data
emacs/.emacs.d/tutorial/
emacs/.emacs.d/url/
newsboat/.newsboat/cache.db
newsboat/.newsboat/history.cmdline
newsboat/.newsboat/history.search
newsboat/.newsboat/cache.db.lock
vim/.vim/autoload/plug.vim.old

