[submodule "vim/.vim/bundle/elm.vim"]
	path = vim/.vim/bundle/elm.vim
	url = https://github.com/lambdatoast/elm.vim.git
[submodule "vim/.vim/bundle/vim-pug"]
	path = vim/.vim/bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule "vim/.vim/bundle/vim-hardtime"]
	path = vim/.vim/bundle/vim-hardtime
	url = https://github.com/takac/vim-hardtime.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
