[submodule "vim/.vim/bundle/elm.vim"]
	path = vim/.vim/bundle/elm.vim
	url = https://github.com/lambdatoast/elm.vim.git
[submodule "vim/.vim/bundle/vim-pug"]
	path = vim/.vim/bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
